$primaryColor : #5b0000;

@mixin Sizes ($width , $height , ) {
    width: $width;
    height: $height;
}

@mixin margin($marginTop , $marginBottom , $marginRight , $marginLeft , $padding, ) {
    margin-top: $marginTop;
    margin-bottom: $marginBottom;
    margin-right: $marginRight;
    margin-left: $marginLeft;
    padding: $padding;
}

@mixin positions ($position , $top , $bottom , $right , $left) {
    position: $position;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;
}

@mixin styles ($color, $bgColor, $border , $borderredu , ) {
    color: $color;
    background-color: $bgColor;
    border: $border;
    border-radius: $borderredu;
}

@mixin textStyles ($fontsize , $fontweight) {
    font-size: $fontsize;
    font-weight: $fontweight;
}


@font-face {
    font-family: 'Vazir';
    src: url('./fonts/vazir-font-v16.1.0/Vazir-Medium.eot');
    src: url('./fonts/vazir-font-v16.1.0/Vazir.eot') format('embedded-opentype'),
        url('./fonts/vazir-font-v16.1.0/Vazir-Medium.woff2') format('woff2'),
        url('./fonts/vazir-font-v16.1.0/Vazir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yakan';
    src: url('../fonts/IRANYekanBlack.ttf');
}

@font-face {
    font-family: 'yakan-m';
    src: url('../fonts/IRANYekanBold.ttf');
}